{%extends "::base.html.twig"%}

{% block header %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/styleListActivity.css') }}">
{% endblock %}

{% block body %}
	<div class="row">
		<h3 class="titleActivity">Bataille de boules de neige</h3>
		<h3 class="date">13/04/2017</h3><br><br>
		<hr>
	</div>

	<div class="row">
		<div class="col-lg-offset-1 col-lg-10">
			<a href="" data-toggle="modal" data-target="#modalCommentaire">
				<img class="img-responsive" src="{{ asset('img/gateau.jpg') }}">
			</a>
		</div>
	</div>

	<div id="modalCommentaire" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-footer">
					<button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-offset-1 col-lg-10">
							<div class="row">
								<img class="image" src="{{ asset('img/gateau.jpg') }}">
								<div class="row">
									<div class="form-group row">
										<input class="form-control" type="text" placeholder="Commentaire" id="example-text-input">
									</div>
								</div><br>
								<div class="row comment">
									<div class="col-lg-2">
										<img class="avatar" src="{{ asset('img/index.jpg') }}">
									</div>
									<div class="col-lg-10 textComment">
										Je suis un commentaire, je suis un commentaire , je suis un commentaire , je suis un commentaire , je suis un commentaire.<br><br> 
									</div>
									<div class="row">
										<p class="col-lg-3 date">15 Avril 2017 à 15:47</p>
									</div>
								</div>
								<div class="row comment">
									<div class="col-lg-2">
										<img class="avatar" src="{{ asset('img/index.jpg') }}">
									</div>
									<div class="col-lg-10 textComment">
										Je suis un commentaire, je suis un commentaire , je suis un commentaire , je suis un commentaire , je suis un commentaire. Je suis un commentaire, je suis un commentaire , je suis un commentaire , je suis un commentaire , je suis un commentaire. Je suis un commentaire, je suis un commentaire , je suis un commentaire , je suis un commentaire , je suis un commentaire.<br><br>
									</div>
									<div class="row">
										<p class="col-lg-3 date">15 Avril 2017 à 15:47</p>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-2">
			<img class="img-responsive" src="{{ asset('img/gateau.jpg') }}">
		</div>
		<div class="col-lg-2">
			<img class="img-responsive" src="{{ asset('img/gateau.jpg') }}">
		</div>
		<div class="col-lg-2">
			<img class="img-responsive" src="{{ asset('img/gateau.jpg') }}">
		</div>
		<div class="col-lg-2">
			<img class="img-responsive" src="{{ asset('img/gateau.jpg') }}">
		</div>
		<div class="col-lg-2">
			<img class="img-responsive" src="{{ asset('img/gateau.jpg') }}">
		</div>
		<div class="col-lg-2">
			<img class="img-responsive" src="{{ asset('img/gateau.jpg') }}">
		</div>
	</div>

	<div class="row">
		<div class="col-lg-offset-8 col-lg-2">
			<button class="btn btn-primary">Supprimer la selection</button>
		</div>
		<div class="col-lg-2">
			<button class="btn btn-primary addImg">Ajouter des photos</button>
		</div>
	</div><br>
	
	<div class="row">
		<div class="col-lg-offset-1 col-lg-10">
			<p class="description">
				Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description 
			</p>
		</div>
	</div><br>

	<div class="row">
		<h3>Inscrivez vous !</h3>
		<hr>
	</div>

	<div class="row">
		<div class="col-lg-offset-1 col-lg-10 formInscription">
			<form>
				<div class="row">
					<div class="col-lg-3">
						<label for="activity">Activité :</label>
					</div>
					<div class="col-lg-9">
						<select class=form-control>
							<option value=un>Bataille de boules de neige</option>
							<option value=deux>Fondue au chocolat</option>
							<option value=trois>Anniversaire Julie</option>
						</select>
					</div>
				</div><br><br>
				<div class="row">
					<div class="col-lg-3">
						<label for="problems">Problèmes rencontrés :</label>
					</div>
				</div><br>

				<div class="row">
					<div class="col-lg-2">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox" value="">
							Allergies
						</label>
					</div>

					<div class="col-lg-offset-1 col-lg-3">
						<label class="form-check-label">
					    	<input class="form-check-input" type="checkbox" value="">
					    	Handicap particulier
						</label>
					</div>

					<div class="col-lg-offset-1 col-lg-2">
						<label class="form-check-label">
					    	<input class="form-check-input" type="checkbox" value="">
					    	Vue
						</label>
					</div>

					<div class="col-lg-offset-1 col-lg-2">
						<label class="form-check-label">
					    	<input class="form-check-input" type="checkbox" value="">
					    	Audition
						</label>
					</div>
				</div><br>

				<div class="row">
					<div class="col-lg-8">
						<label class="form-check-label">
					    	<input class="form-check-input" type="checkbox" value="">
					    	Autres
					    	<input type="text" class="form-control inpAutres" placeholder="Autres">
						</label>
					</div>
				</div><br>

				<div class="row">
					<label>Avez-vous déjà pratiqué une activité de ce type :</label><br>
					<label class="radio-inline">
				      <input type="radio" name="optradio">Oui
				    </label>
				    <label class="radio-inline">
				      <input type="radio" name="optradio">Non
				    </label>
				</div>

				<div class="row">
					<div class="col-lg-offset-10 col-lg-2">
						<button class="btn btn-primary Btn-valid">Valider</button>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}