{%extends "::base.html.twig"%}

{% block header %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/styleModerationPhoto.css') }}">
{% endblock %}

{% block body %}
	<div class="row">
	<h3>Choisissez les photos à supprimer</h3><br>
	<div class="col-lg-offset-2 col-lg-10 col-xs-offset-1 col-xs-10">
		<form class="form-group" method="POST" action="{{ path('deletePhoto') }}">
			<div class="row">
				{% for photo in photos%}
					<div class="col-lg-5 col-xs-5">
						<label class="btn btn-primary">
							<img src="{{ asset(photo.photo) }}" id="img{{ photo.id }}" alt="image galerie" class="img-thumbnail">			
						</label>
						<input type="checkbox" name="photo[]" value="{{ photo.id }}" class="checkbox">
					</div>
				{% endfor %}
			</div>
		
			<div class="row">
				<br><br><input type="submit" name="supprimer" class="btn btn-danger" value="Supprimer">
			</div>
		</form>
	</div>
		
		
	</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
	$(function()
	{
    	$(".checkbox").on('click', function(){

    		var id = $(this).val();

    		if($('#img'+id).hasClass("checked"))
    		{
    			$('#img'+id).removeClass("checked");
    		}

    		else
    		{
    			$('#img'+id).addClass("checked");
    		}
		});
	});
</script>
{% endblock%}

