{% extends '::base.html.twig' %}

{% block header %}
	<link rel="stylesheet" type="text/css" href="{{asset('css/styleBase.css')}}">
{% endblock %}

{% block body %}
<div class="row">
	<div class="col-lg-12">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">				        
	        <ol class="carousel-indicators">
	        	{% for activityPhoto in lastActivitiesPhoto %}
	        		{% if loop.index0 == 0 %}
		        		<li data-target="#myCarousel" data-slide-to="{{ loop.index0 }}" class="active"></li>
		        	{% else %}
		         		<li data-target="#myCarousel" data-slide-to="{{ loop.index0 }}"></li>
		         	{% endif %}
		        {% endfor %}	          	
	        </ol>
				        
	        <div class="carousel-inner" role="listbox">	          
	          	{% for activityPhoto in lastActivitiesPhoto %}
	          		{% if loop.index == 1 %}
			          	<div class="item active">
			        {% else %}
			        	<div class="item">
			        {% endif %}
			            	<img src="{{ asset('imgActivities/') }}{{ activityPhoto }}" alt="Image de l'activité">

			            	<div class="container">
			              		<div class="carousel-caption">
			                		<h1>{{ lastActivitiesInfo[loop.index0].name }}</h1>
			                		{% if app.user %}
			                			<p><a class="btn btn-lg btn-primary" href="{{ path('signInActivity', {'activity_id': lastActivitiesInfo[loop.index0].id}) }}" role="button">S'inscrire</a></p>
			                		{% endif %}
			              		</div>
			            	</div>
			          	</div>
		        {% endfor %}
	        </div>				        
				        
	        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		        <span class="sr-only">Previous</span>
	        </a>

	        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	        	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	          	<span class="sr-only">Next</span>
	        </a>
	   	</div>
	</div>
</div>

<div class="row">
	<ul id="banner">
		{% for activity in lastActivitiesInfo %}
			{% if app.user %}
			    <li><span>{{ activity.date|date("d/m/Y") }}</span><a href="{{ path('signInActivity', {'activity_id': activity.id}) }}">{{ activity.name }}</a></li>
			{% else %}
				<li><span>{{ activity.date|date("d/m/Y") }} {{ activity.name }}</span></li>		   
			{% endif %}
		{% endfor %}
	</ul>
</div>

<div class="row">
	<section class="col-lg-offset-1 col-lg-5">  
	   	<h4 class="insetshadow">L'équipe du BDE</h4>
	   	<div class="description">             
	        <img src="{{ asset('img/Mélanie_Gstalter.jpg') }}" class="img-thumbnail profilePicture">      
	        <img src="{{ asset('img/Hugo_Huilier.jpg') }}" class="img-thumbnail profilePicture">
	        <img src="{{ asset('img/Julie_Meyer.jpg') }}" class="img-thumbnail profilePicture">
	        <img src="{{ asset('img/François_Schaefer.jpg') }}" class="img-thumbnail profilePicture">				       
	   	</div>
	</section>

    <section class="col-lg-offset-1 col-lg-4">          
      	<h4 class="insetshadow">Réseaux sociaux</h4>
      	<div class="reseaux">
        	<ul class="liste_reseaux">
          		<li class="facebook">
            		<img src="{{ asset('img/facebook.png') }}">
            		<a href="https://www.facebook.com/ExiaCesiStrasbourg/" target="onglet">Facebook</a>
	          	</li>

	         	<li class="twitter"><img src="{{ asset('img/twitter.png') }}">
	            	<a href="https://twitter.com/CesiStrasbourg" target="onglet">Twitter</a>
	          	</li>

	          	<li class="instagram">
	            	<img src="{{ asset('img/instagram.png') }}">
	            	<a href="#" target="onglet">Instagram</a>
	          	</li>
       	 	</ul>
      	</div>
    </section>
</div>
{% endblock %} 


{% block javascripts %}
<script type="text/javascript">
$(function(){
	$("#banner").liScroll({travelocity: 0.15});
});
</script>
{% endblock %}