{%extends "::base.html.twig"%}

{% block header %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/styleShopAcceuil.css') }}">
{% endblock %}

{% block body %}
	<div class="row" id="boutique">
		<h1>Boutique</h1><br><br>
	</div>
	
	<!-- sous-menu -->
	<nav class="row">
		{% for category in categories %}
        <div class="navbar navbar-inverse">
        	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar2">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="myNavbar2">
                <ul class="nav navbar-nav">
                	<li><a class="liste" href="{{path('categorieShopShow', {'category_id':category.id} )}}">{{category.name}}</a></li>
                </ul>
            </div>

             <!-- Lien vers la page de catégorie Matos -->
        </div>
        {% endfor %}
    </nav>
	
	<hr>

	<!-- Articles de la catégorie -->
	<div class="row">
		<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		
			{%for product in listArticle%}
				<div class="col-xs-12 col-md-3 col-lg-3">
					<div class="thumbnail">
						<h3 class="arcticlepop"> {{product.name}} </h3>
						<center><img src="{{asset(product.image)}}" alt="Images de l'article" class="images"></center>
						<form name="achat" method="post" action="product">
							<input type="hidden" name="id" value="{{product.id}}">
							<center> <button type="submit" class="btn btn-default details">Détails</button> </center>
						</form>
						<div class="prix">{{product.price}} €</div><br/><br>
						
						<center> <button type="submit" class="btn btn-default">Ajouter au panier</button> </center>
					</div>
				</div>
			{%endfor%}
			
		</section>
	</div>
{% endblock %}