{%extends "::base.html.twig"%}

{% block header %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/styleShopAcceuil.css') }}">
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-lg-offset-3 col-xs-offset-1 col-xs-10 col-lg-6 form-horizontal">
			{{ form_errors(form) }}

			{{ form_start(form, {'method': 'post', 'action': path('updateProduct', {'id': product.id})}) }}

			<div class="form-group">
	      		<label class="control-label col-lg-4" for="name">Nom :</label>
	      		<div class="col-lg-6">
	        		{{ form_widget(form.name, { 'attr': { 'class': 'form-control'} }) }}
	      		</div>

	      		{{ form_errors(form.name) }}
	    	</div>

	    	<div class="form-group">
	      		<label class="control-label col-lg-4" for="name">Description :</label>
	      		<div class="col-lg-6">
	        		{{ form_widget(form.description, { 'attr': { 'class': 'form-control' } }) }}
	      		</div>

	      		{{ form_errors(form.description) }}
	    	</div>

	    	<div class="form-group">
	      		<label class="control-label col-lg-4" for="name">Prix :</label>
	      		<div class="col-lg-6">
	        		{{ form_widget(form.price, { 'attr': { 'class': 'form-control'} }) }}
	      		</div>

	      		{{ form_errors(form.price) }}
	    	</div>

	    	<div class="form-group">
	      		<label class="control-label col-lg-4" for="name">Categorie :</label>
	      		<div class="col-lg-6">
	        		{{ form_widget(form.category, { 'attr': { 'class': 'form-control'} }) }}
	      		</div>

	      		{{ form_errors(form.category) }}
	    	</div>

	    	<div class="form-group">
	      		<label class="control-label col-lg-4" for="name">Image :</label>
	      		<div class="col-lg-6">
	        		{{ form_widget(form.image, { 'attr': { 'class': 'form-control'} }) }}
	      		</div>

	      		{{ form_errors(form.image) }}
	    	</div>

	    	<div class="form-group">		    
			    <div class="col-lg-offset-4 col-lg-8">
			    	<input type="submit" class="btn btn-primary" value="Modifier le produit" />
			    </div>		    
			</div>

			{% for flash_message in app.session.flashBag.get('success') %}
			    <div class="alert alert-success">
					{{ flash_message }}
				</div>
			{% endfor %}

			{% for flash_message in app.session.flashBag.get('error') %}
			    <div class="alert alert-danger">
					{{ flash_message }}
				</div>
			{% endfor %}

			{{ form_end(form) }}


	    </div>
	</div>
	<div class="row">
		<div class="col-lg-offset-2 col-lg-2 col-xs-offset-7 col-xs-2">
			<a href="{{path('editShop')}}">
			<button class="btn" type="submit"><span class="glyphicon glyphicon-arrow-left"></span> Précédent</button>
			</a>
		</div>
	</div>
	
	
{% endblock %}